*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size:14px;
}
.main{
    height: 100vh;
    padding:0px !important;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.list-group .active{
    background:rgb(235, 235, 235);
}
.group-item{
    transition: 0.15s ease-in;
}
.group-item:hover{
  background:rgb(235, 235, 235);
}
.action-item{
    margin-top:5px;
    border-bottom: 1px solid #ccc;
}

.main .main-content{
    overflow-y: scroll;
    height: calc(100% - 100px);
}

.main .main-header{
    height: 60px;
    box-shadow: 0 4px 40px -2px #ccc;
}

.main .main-content .content {
    max-width: 80%;
}
.main .main-content .description{
    font-size:10px !important;
    margin-bottom:3px !important;
}

.main .main-content .my-message .content .message{
    background:#3578E5;
    border-radius: 10px;
    margin-bottom:0px !important;
    word-wrap: break-word;
}

.main .main-content .my-message .content .message::selection{
    background:#ccc;
}

.main .main-content .my-message .content .description{
    text-align: end;
    padding:0px;
    font-size: 14px;
}

.main .main-content .other-message .content .message{
    background:#e4e6eb;
    border-radius: 10px;
    margin-bottom:0px !important;
    word-wrap: break-word;
}

.main .main-content .other-message .content .description{
    text-align: start;
    padding:0px;
    font-size: 14px;
}

.main .main-bottom{
    height:40px;
    position: relative;
    box-shadow: 0 4px 40px -2px #ccc;
}
.main .main-bottom input{
    height:40px !important;
}
.sendButton{
    position:absolute;
    top: 0px;
    right: 0px;
    height:100%;
    color:#3578E5;
    background-color: transparent !important;
}
.left{
    height:100vh;
    padding:0px;
}
.left .left-header{
    border-bottom: 1px solid #ccc;
}
.left-header-title{
    min-height: 60px;
}
.left .left-main{
    /* height: calc(100% - 100px); */
    max-height: calc(100vh - 100px);
    height:calc(100vh - 95.6px);
    overflow-y: scroll;
}

.right{
    height:100vh;
    padding:0px;
}
.right .right-header{
    height:60px;
    box-shadow: 0 4px 2px -2px #ccc;
    background-color: #fff;
}
.right .right-header .title h5{
    line-height:60px;
}
.right .right-main{
    height: calc(100% - 80px);
    overflow-y: scroll;
}

.right .right-main .user-title{
    background:#3578E5;
}
.right .right-main .user-title button{
    background:#3578E5;
    color:#fff;
}
.user-detail{
    border-bottom: 1px solid #ccc;
    position: relative;
    transition:0.15s ease-in;
}
.user-detail:hover{
    background:rgb(235, 235, 235);
}

.user-detail span{
    position: absolute;
    top: 40%;
    right:10px;
}

/* Customer scroll */
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }